/* src/styles.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
.content {
  display: flex;
}
.sidebar {
    width: 20%;
    background-color: #77C3EC;
    height: 100%;
  }